<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.damnvulnerablebank">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="false"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Myprofile"></activity>
        <activity android:name=".CurrencyRates">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="xe.com"
                    android:scheme="http" />
                <data
                    android:host="xe.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".ResetPassword" />
        <activity android:name=".ViewBeneficiary" />
        <activity android:name=".ApproveBeneficiary" />
        <activity android:name=".PendingBeneficiary" />
        <activity android:name=".AddBeneficiary" />
        <activity
            android:name=".SendMoney"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ViewBeneficiaryAdmin" />
        </activity>
        <activity android:name=".ViewBeneficiaryAdmin" />
        <activity android:name=".GetTransactions" />
        <activity
            android:name=".ViewBalance"
            android:exported="true" />
        <activity android:name=".Dashboard" />
        <activity android:name=".RegisterBank" />
        <activity android:name=".BankLogin" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>